App\Entity\Person: 
  constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: login
        # -  App\Validator\Constraints\ContainsyAlphanumericValidator: ~
  properties:
    login:
      - Length:
                min: 3
                max: 100
      - NotNull: ~
      - NotBlank: ~
    last_name:
     - length:
                min: 3
                max: 255
     - NotBlank: ~
     - NotNull: ~
    first_name:
     - length:
                min: 3
                max: 255
     - NotNull: ~
     - NotBlank: ~
    person_group:
     - App\Validator\GroupExists: ~
     
      

    # walidacja created_at i updated_at nie jest wymagana, ponieważ te pola dodawane są w kodzie
    # i użytkownik nie ma żadnego wpływu na te pola

App\Entity\GroupOfPeople: 
  constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: name
  properties:
    name:
      - Length:
                min: 3
                max: 100
      - NotNull: ~
      - NotBlank: ~
